# Application
APP_URL=https://www.fixit247.com.au
PORT=5000
NODE_ENV=production

# Access control
ADMIN_EMAILS=admin@fixit247.com.au
SESSION_SECRET=replace-with-64-char-random-secret
NEW_SECRET=replace-with-64-char-random-secret

# Database
DATABASE_URL=postgresql://fixit247b_user:<PASSWORD>@<HOST>/fixit247b

# Email
FROM_EMAIL=admin@fixit247.com.au
SENDGRID_API_KEY=replace-with-sendgrid-api-key
SENDGRID_OTP_TEMPLATE_ID=d-586681bb6f4ec59c6dbe7603da25e7
SENDGRID_CUSTOMER_WELCOME_TEMPLATE_ID=d-f44b8286840d4448b801d9e4e0682c3c
SENDGRID_TRADIE_WELCOME_TEMPLATE_ID=d-9ff5e225679540cea4522561a3de727f
