ADMIN_EMAILS=admin@fixit247.com.au
APP_URL=https://www.fixit247.com.au
DATABASE_URL=postgresql://fixit247b_user:U5m1MmFhP5jvtUgMxzzS3G78kMk0cF3V@dpg-d7n8dlbrjlhs73ac099g-a/fixit247b
FROM_EMAIL=admin@fixit247.com.au
NEW_SECRET=5e034b1925591f6d60a7dfccdcff7cea
NODE_ENV=production
PORT=5000
SENDGRID_API_KEY=
SENDGRID_CUSTOMER_WELCOME_TEMPLATE_ID=
SENDGRID_OTP_TEMPLATE_ID=
SENDGRID_TRADIE_WELCOME_TEMPLATE_ID=
SESSION_SECRET=
NEXTAUTH_URL=https://www.fixit247.com.au
AUTH_SECRET=
